<section id="main">
    <h1>Help</h1>
    <h2>SQL Lab</h2>
    <h3>Query Editor</h3>
    <p>Only a subset of the DQL (Data Query Language) is supported.</p>
    <ul>
        <li>SELECT</li>
        <li>FROM</li>
        <li>WHERE</li>
        <li>GROUP BY</li>
        <li>ORDER BY</li>
        <li>LIMIT</li>
    </ul>
    <p>NOTE: as at time of writing help, JOINs and HAVING were not implemented</p>

    <p>Filter Operations:</p>
    <ul>
        <li>equals (=), also as '=='</li>
        <li>not equals (&lt;&gt;), also as '!='</li>
        <li>greater than (&gt;)</li>
        <li>greater than or equal (&gt;=)</li>
        <li>less than (&lt;)</li>
        <li>less than or equal (&lt;=)</li>
        <li>is (IS)</li>
        <li>isn't (IS NOT)</li>
        <li>SQL like (LIKE)</li>
        <li>not SQL like (NOT LIKE)</li>
    </ul>

    <p>Aggregation Functions:</p>
    <ul>
        <li>COUNT</li>
        <li>SUM</li>
        <li>MAX</li>
        <li>MIN</li>
    </ul>

    <p>Scalar Functions:</p>
    <ul>
        <li>DAY</li>
        <li>MONTH</li>
        <li>YEAR</li>
        <li>DATE</li>
        <li>UCASE</li>
        <li>LCASE</li>
        <li>LEN</li>
        <li>ROUND</li>
    </ul>
    </p>

</section>

<footer id="footer ">
    <div class="d-flex justify-content-end ">

    </div>
</footer>