<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Query</title>

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">

    <link href="dist/fonts/JetBrains Mono/font.css" rel="stylesheet" />
    <link href="dist/fonts/Pacifico/font.css" rel="stylesheet" />
    <link href="dist/fonts/Roboto Condensed/font.css" rel="stylesheet" />
    <link href="dist/fonts/Open Sans Condensed/font.css" rel="stylesheet" />

    <link href="dist/css/styles.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="dist/img/q-logo.png">

</head>

<body>

    <div id="wrap">
        <div id="main">

            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <div class="brand-text">
                            Query
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-question"></i> Help</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>


            <div class="container">


            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">

            <div class="d-flex flex-row justify-content-end">
                <div>

                    Records per page
                    <select id="records_per_page">
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                    </select>

                    <span class="vertical-separator">|</span>

                    <span id="record_counter"></span>


                </div>
            </div>
        </div>
    </footer>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="plugins/moment/js/moment.js"></script>
    <script src="dist/js/code-editor.js"></script>
    <script src="dist/js/query.js"></script>
    <script src="dist/js/data-table.js"></script>

</body>

</html>