<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Query</title>

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">

    <link href="dist/fonts/JetBrains Mono/font.css" rel="stylesheet" />
    <link href="dist/fonts/Pacifico/font.css" rel="stylesheet" />
    <link href="dist/fonts/Roboto Condensed/font.css" rel="stylesheet" />
    <link href="dist/fonts/Open Sans Condensed/font.css" rel="stylesheet" />

    <link href="dist/css/styles.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="dist/img/q-logo.png">

</head>

<body>

    <div id="wrap">
        <div id="main">

            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">
                            <div class="brand-text">Query</div>
                        </a>
                        <div class="d-flex">
                            <a class="nav-link" href="help.html"><i class="fas fa-question"></i> Help</a>
                        </div>
                    </div>
                </nav>
            </div>


            <div class="container">
                <h3>Query</h3>



            </div>
        </div>
    </div>



    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="plugins/moment/js/moment.js"></script>
    <script src="dist/js/code-editor.js"></script>
    <script src="dist/js/query.js"></script>
    <script src="dist/js/data-table.js"></script>

</body>

</html>