<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Query</title>
    <link rel="icon" type="image/png" href="dist/img/q-logo.png">

    <link href="dist/fonts/JetBrains Mono/font.css" rel="stylesheet" />
    <link href="dist/fonts/Rubik/font.css" rel="stylesheet" />
    <link href="dist/fonts/Roboto Condensed/font.css" rel="stylesheet" />
    <link href="dist/fonts/Roboto/font.css" rel="stylesheet" />
    <link href="dist/fonts/Open Sans Condensed/font.css" rel="stylesheet" />

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="plugins/codemirror/css/show-hint.css">

    <link rel="stylesheet" href="dist/css/styles.css">
    <link rel="stylesheet" href="dist/css/nav.css">
</head>

<body>

    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <span class="brand-text"><i class="far fa-compass"></i> Query</span>
            </div>
            <ul class="list-unstyled sidebar-options">
                <li class="active">
                    <a href="/"><i class="fas fa-table"></i> Lab</a>
                </li>
                <!--<li>
                    <a href="/"><i class="fas fa-chart-bar"></i> Visualize</a>
                </li>-->
                <li>
                    <a href="/help.html"><i class="fas fa-question"></i> Help</a>
                </li>
            </ul>

        </nav>

        <div id="content">

            <nav id="top-navbar" class="navbar navbar-expand-md">
                <button type="button" id="sidebarCollapse" class="btn button-query-white">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="container-fluid">
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav" id="header-nav">
                            <li class="nav-item d-none" id="nav-explorer">
                                <a class="nav-link header-link btn" href="#"><i class="far fa-compass"></i> Explorer</a>
                            </li>
                            <li class="nav-item" id="nav-lab">
                                <a class="nav-link header-link btn" href="#"><i class="fas fa-flask"></i> Lab</a>
                            </li>
                            <li class="nav-item" id="nav-visualize">
                                <a class="nav-link header-link btn" href="#"><i class="fas fa-chart-bar"></i> Visualise</a>
                            </li>
                            <li class="nav-item d-none" id="nav-dashboard">
                                <a class="nav-link header-link btn" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                Identity
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section id="main-explorer" class="d-none">
                <p>I'm looking for this data [ ] </p>

                <p>+ dataset browser</p>
                <p>+ schema</p>
                <p>+ summarization</p>
            </section>

            <section id="main-lab">
                <div>
                    <form onsubmit="return false" id="search-form">
                        <div class="form-group row">
                            <div class="col-sm-8 clear-padding">
                                <textarea id="sql-editor" spellcheck="false">
SELECT *
FROM mabel_data.RAW.NVD.CVE_LIST
</textarea>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <select class="form-select col-2" id="period" size="1">
                                <option value='today' selected>Today</option>
                                <option value='yesterday' select>Yesterday</option>
                                <option value="t-30">Last 30 days</option>
                            </select>
                                </div>
                                <div><br /></div>
                                <div class="row" id="custom-date-range">
                                    <div class="col-1 col-form-label">from</div>
                                    <div class="col-5">
                                        <div class="input-group">
                                            <input type="date" class="form-control datepicker" id="start_date" />
                                        </div>
                                    </div>
                                    <div class="col-1 col-form-label">to</div>
                                    <div class="col-5">
                                        <div class="input-group">
                                            <input type="date" class="form-control datepicker" id="end_date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" id="button-row">
                    <div class="col-sm-6 clear-padding">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab" aria-controls="results" aria-selected="false"><i class="fas fa-th-list"></i> Results</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="recent-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button" role="tab" aria-controls="recent" aria-selected="false"><i class="fas fa-history"></i> Recent</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="saved-tab" data-bs-toggle="tab" data-bs-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="false"><i class="fas fa-folder-open"></i> Saved</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2 clear-padding">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-fixed-width btn btn-outline-secondary" id="save">
                                <i class="fas fa-save"></i> Save
                            </button>
                            <button type="button" class="btn-fixed-width btn btn-action" id="run">
                            <i class="fas fa-sync-alt"></i> Run
                        </button>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <span id="clock" class="btn mono-font">-</span>
                    </div>
                    <div class="col-sm-3 clear-padding">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-fixed-width btn btn-outline-secondary" id="download">
                            <i class="fas fa-cloud-download-alt"></i> Download
                        </button>
                        </div>
                    </div>
                </div>


                <div class="tab-content" id="tabs">
                    <div class="tab-pane fade show active" id="results" role="tabpanel" aria-labelledby="results-tab">
                        <div id="data-table-wrapper">
                            <div class="alert alert-primary col-sm-8" role="alert">
                                No queries have been run.
                            </div>
                            <p>Here are some suggestions:</p>
                            <hr />
                            <pre id="query1" class="code">
SELECT COUNT(*)
FROM mabel_data/PROCESSED/NVD/CVE_LIST
GROUP BY YEAR(publishedDate)</pre><button class="btn btn-action" id="example-query-1"><i class="fas fa-arrow-up"></i> Try This Query</button>
                            <hr />
                            <pre id="query2" class="code">
SELECT COUNT(*)
FROM mabel_data/PROCESSED/VIEWS/QVM_OWNERS
GROUP BY Allocation</pre><button class="btn btn-action" id="example-query-2"><i class="fas fa-arrow-up"></i> Try This Query</button>
                            <hr />

                        </div>
                    </div>
                    <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                        <div class="alert alert-primary col-sm-8" role="alert">
                            No queries have been run.
                        </div>
                    </div>
                    <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
                        <div class="alert alert-primary col-sm-8" role="alert">
                            No queries have been Saved.
                        </div>
                    </div>
                </div>

                <footer id="footer-lab">
                    <div class="d-flex justify-content-end">
                        <div>
                            Records per page
                            <select id="records_per_page" class="mono-font align-middle">
                                    <option value="20" selected>20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            <span class="vertical-separator">|</span>
                            <span id="record_counter"></span>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="page-back" type="button" class="btn button-query-white" disabled><i class="fas fa-chevron-left"></i></button>
                                <button id="page-forward" type="button" class="btn button-query-white" disabled><i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>

            <section id="main-visualize" class="d-none">
                <div id="visualize">
                    <div class="alert alert-primary col-sm-8" role="alert">
                        No queries have been run.
                    </div>
                </div>
            </section>

            <section id="main-dashboard" class="d-none">
                <p>select prebuild dashboard</p>
            </section>

        </div>
    </div>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/popper/js/popper.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/moment/js/moment.js"></script>
    <script src="plugins/chart.js/js/chart.min.js"></script>
    <script src="plugins/custom-scrollbar/js/custom-scrollbar.js"></script>

    <script src="plugins/codemirror/js/codemirror.js"></script>
    <script src="plugins/codemirror/js/sql.js"></script>
    <script src="plugins/codemirror/js/match_brackets.js"></script>
    <script src="plugins/codemirror/js/close_brackets.js"></script>
    <script src="plugins/codemirror/js/show-hint.js"></script>
    <script src="plugins/codemirror/js/sql-hint.js"></script>

    <script type="text/javascript">
        var SqlEditor = CodeMirror.fromTextArea(
            document.getElementById("sql-editor"), {
                mode: "sql",
                lineNumbers: true,
                indentUnit: 4,
                cursorHeight: 0.85,
                autocapitalize: true,
                lineWrapping: true,
                matchBrackets: true,
                lineSeparator: "\n",
                autoCloseBrackets: true,
                hint: CodeMirror.hint.sql,
                inputStyle: "contenteditable",
                showHint: true,
                extraKeys: {
                    'Ctrl-Space': 'autocomplete'
                },
            }
        );

        function initAutoComplete() {
            CodeMirror.commands.autocomplete = function(cmeditor) {
                CodeMirror.showHint(cmeditor, CodeMirror.hint.sql, {
                    //completeSingle: false,
                    tables: {
                        "mabel_data.RAW.NVD.CVE_LIST": ["cve.CVE_data_meta.ID", "cve.CVE_data_meta.ID", "cve.problemtype.problemtype_data.0.description.0.value"]
                    }
                });
            }
        }

        SqlEditor.on("inputRead", function(instance) {
            if (instance.state.completionActive) {
                return;
            }
            var cur = instance.getCursor();
            var token = instance.getTokenAt(cur);
            if (token.type && token.type != "comment") {
                CodeMirror.commands.autocomplete(instance);
            }
        });
    </script>

    <script src="dist/js/colors.js"></script>
    <script src="dist/js/query.js"></script>
    <script src="dist/js/data-table.js"></script>
    <script src="dist/js/visualize.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
            initAutoComplete();
        });

        document.getElementById("example-query-1").addEventListener("click", function() {
            SqlEditor.setValue(document.getElementById("query1").innerText);
        }, false)
        document.getElementById("example-query-2").addEventListener("click", function() {
            SqlEditor.setValue(document.getElementById("query2").innerText);
        }, false)
    </script>
</body>

</html>