<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Query</title>

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">

    <link href="dist/fonts/JetBrains Mono/font.css" rel="stylesheet" />
    <link href="dist/fonts/Pacifico/font.css" rel="stylesheet" />
    <link href="dist/fonts/Roboto Condensed/font.css" rel="stylesheet" />
    <link href="dist/fonts/Open Sans Condensed/font.css" rel="stylesheet" />

    <link href="dist/css/styles.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="dist/img/q-logo.png">

</head>

<body>

    <div id="wrap">
        <div id="main">

            <div class="container">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">
                            <div class="brand-text">Query</div>
                        </a>
                        <div class="d-flex">
                            <a class="nav-link" href="help.html"><i class="fas fa-question"></i> Help</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="container">

                <form onsubmit="return false" id="search-form">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div id="query" class="editor" contenteditable="true" spellcheck="false">
                                <div>SELECT *</div>
                                <div>FROM mabel_data.RAW.NVD.CVE_LIST</div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="input-group">
                                <select class="form-select col-2" id="period" size="1">
                                    <option value='today' selected>Today</option>
                                    <option value='yesterday' select>Yesterday</option>
                                    <option value="t-30">Last 30 days</option>
                                </select>
                            </div>
                            <div><br /></div>
                            <div class="row" id="custom-date-range">
                                <div class="col-1 col-form-label">from</div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <input type="date" class="form-control datepicker" id="start_date" />
                                    </div>
                                </div>
                                <div class="col-1 col-form-label">to</div>
                                <div class="col-5">
                                    <div class="input-group">
                                        <input type="date" class="form-control datepicker" id="end_date" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="container">
                <div class="row" id="button-row">
                    <div class="col-sm-6">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab" aria-controls="results" aria-selected="false"><i class="fas fa-th-list"></i> Results</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"><i class="fas fa-history"></i> History</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-fixed-width btn btn-action" id="run">
                                <i class="fas fa-sync-alt"></i> Run
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span id="clock" class="btn">-</span>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn-fixed-width btn btn-outline-secondary" id="download">
                                <i class="fas fa-cloud-download-alt"></i> Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="results" role="tabpanel" aria-labelledby="results-tab">
                            <div id="data-table-wrapper"></div>
                        </div>
                        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                            No Queries Have been Run
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <footer class="footer">
        <div class="container">

            <div class="d-flex flex-row justify-content-end">
                <div>

                    Records per page
                    <select id="records_per_page">
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                    </select>

                    <span class="vertical-separator">|</span>

                    <span id="record_counter"></span>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="page-back" type="button" class="btn button-query-white" disabled><i class="fas fa-chevron-left"></i></button>
                        <button id="page-forward" type="button" class="btn button-query-white" disabled><i class="fas fa-chevron-right"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/moment/js/moment.js"></script>
    <script src="dist/js/code-editor.js"></script>
    <script src="dist/js/query.js"></script>
    <script src="dist/js/data-table.js"></script>

</body>

</html>