<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Explorer Notebooks</title>
    <link rel="icon" type="image/png" href="dist/img/q-logo.png">

    <link rel="stylesheet" href="dist/fonts/JetBrains Mono/font.css" />
    <link rel="stylesheet" href="dist/fonts/Rubik/font.css" />
    <link rel="stylesheet" href="dist/fonts/Roboto Condensed/font.css" />
    <link rel="stylesheet" href="dist/fonts/Roboto/font.css" />
    <link rel="stylesheet" href="dist/fonts/Open Sans Condensed/font.css" />
    <link rel="stylesheet" href="dist/fonts/IBM Plex Sans/font.css" />

    <link rel="stylesheet" href="dist/icons/fontello/css/fontello.css" />
    <link rel="stylesheet" href="plugins/fontawesome-free-6.0.0/css/all.min.css">
    <link rel="stylesheet" href="plugins/bootstrap-5.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="dist/css/notebook.css">
    <link rel="stylesheet" href="dist/css/nav.css">
</head>

<body>

    <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <span class="brand-text"><i class="far fa-compass"></i> Explorer</span>
            </div>

            <div style="padding: 10px;">
                <input class="form-control" list="lab-dataset-options" id="lab-dataset-filter" placeholder="Dataset Filter">
                <ul class="list-unstyled" style="padding-top: 10px;">
                    <li><span class="field-name">name</span> <span class="field-type">STRING</span></li>
                    <li><span class="field-name">age</span> <span class="field-type">INT</span></li>
                    <li><span class="field-name">married</span> <span class="field-type">BOOLEAN</span></li>
                    <li><span class="field-name">height</span> <span class="field-type">FLOAT</span></li>
                </ul>
            </div>

        </nav>

        <div id="content">
            <div class="container-xxl">

                <nav id="top-navbar" class="navbar navbar-expand-md">
                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse">
                            <ul class="navbar-nav" id="header-nav">
                                <li class="nav-item" id="nav-explorer">
                                    <button id="notebook-save" type="button" class="btn btn-secondary">
                                        <i class="fa-fw fa-regular fa-floppy-disk"></i> Download
                                    </button>
                                </li>
                                <li class="nav-item" id="nav-explorer">
                                    <button id="notebook-present" type="button" class="btn btn-secondary">
                                        <i class="fa-fw fa-solid fa-tv"></i> Present
                                    </button>
                                </li>
                                <li class="nav-item" id="nav-explorer">
                                    <button id="notebook-load" type="button" class="btn btn-secondary">
                                        <i class="fa-fw fa-regular fa-folder-open"></i> Open
                                    </button>
                                </li>
                                <li class="nav-item" id="nav-explorer">
                                    <button id="notebook-reset" type="button" class="btn btn-secondary">
                                        <i class="fa-fw fa-solid fa-power-off"></i> Reset
                                    </button>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item" id="identity">
                                    Identity
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="row">

                    <div id="cell-block"></div>

                    <div class="notebook-cell">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-plus"></i> New Cell
                            </button>
                            <ul class="dropdown-menu" id="notebook-new-cell-selector"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/popper/js/popper.min.js"></script>
    <script src="plugins/moment/js/moment.js"></script>
    <script src="plugins/bootstrap-5.1.3/js/bootstrap.min.js"></script>
    <script src="plugins/custom-scrollbar/js/custom-scrollbar.js"></script>

    <!-- workbook resources -->
    <script src="dist/js/notebook-workbook.js"></script>
    <script src="dist/js/notebook-base.js"></script>

    <!-- reusable cell resources -->
    <script src="dist/js/notebook-code-editor.js"></script>
    <script src="dist/js/notebook-table.js"></script>

    <!-- cell type resources -->
    <script src="dist/js/notebook-cell-sql.js"></script>
    <script src="dist/js/notebook-cell-sql-execute.js"></script>
    <script src="dist/js/notebook-cell-markdown.js"></script>
    <script src="dist/js/notebook-cell-parameter.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            // so the user doesn't get an empty screen, give them a SQL cell
            createNewCell("sql");
        });
    </script>
</body>

</html>